@use "../abstracts" as abs;
.dropdown {
    position: absolute;
    padding-top: 54px;
    left: 0;
    width: min(1240px, 100%);
    display: none;
    &__inner {
        position: relative;
        // padding: 30px 62px 30px 30px;
        padding: 30px;
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);
        &::before {
            position: absolute;
            content: url("../icons/dropdown_arrow.svg");
            top: -13px;
            left: var(--arrow-left-pos);
            transform: translateX(-50%);
            filter: var(--dropdown-arrow-color);
            z-index: 999;
        }
    }
}
.top-menu {
    position: relative;
    --main-column-width: 292px;
    &__main {
        height: calc(min(582px, 100vh - 158px) - 60px);
        width: var(--main-column-width);
        border-right: 1px solid #d2d1d6;
        overflow-y: auto;
    }
}
.menu-column {
    display: flex;
    column-gap: 14px;
    &__icon {
        position: relative;
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        @include abs.breakpoint(xl) {
            display: none;
        }
        &-1 {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }
        &-2 {
            width: 24px;
            height: 24px;
            object-fit: contain;
            position: absolute;
            right: 0;
            bottom: 0;
            filter: var(--menu-column-icon-color);
        }
    }
    &__heading {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
    }
    &__content {
        flex: 1;
        margin-top: 6px;
    }
    &__list {
        margin-top: 19px;
    }
    &__item {
        padding-right: 30px;
        &--active > .menu-column__link,
        &:hover > .menu-column__link {
            color: #0071dc;
            font-weight: 500;
        }

        &--active .sub-menu {
            display: grid;
        }
    }
    &__link {
        display: inline-block;
        padding-block: 7px;
        line-height: 142.857%;
    }
}
.sub-menu {
    display: none;
    position: absolute;
    inset: 0 0 0 var(--main-column-width);
    padding-left: 30px;
    grid-template-columns: repeat(3, 1fr);
    // column-gap: 30px;
    overflow-y: auto;
    &__column {
        .menu-column + .menu-column {
            margin-top: 23px;
        }
    }
}
